h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /* This will make the container take up the full viewport height */
}

.post {
display: flex;
align-items: center;
justify-content: center;
}