.back_img {
    background: url(../blackmarb.jpg) no-repeat center center fixed;
    height: 100vh;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form_container{
    width: 108%;
}


